@font-face {
    font-family: LeagueGothic;
    src: url(fonts/LeagueGothic-Regular.otf);
}

.header {
	background-color: #62C3B5;
	font-family: LeagueGothic;
	overflow:auto;
}

.header h1 {
	font-size:100pt;
}

.header h2 {
	font-size:50pt;
}

.header h3 {
	font-size:40pt;
	color:#C33D34;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.today-list {
	background-color: #f9f9f9;
	border: 3px solid #7F7F7F;
	border-radius: 10px;
	overflow: auto;
}

.row .today-list:first-child {
	padding-right:20px;
}
.row .today-list:last-child {
	padding-left:20px;
}

.body {
	background-color:lightgrey;
	overflow: auto;
}

.body .container .row:first-child .ideaInput {
	margin-top:20px;
}

.ideaInput {
	border-radius: 10px;
	background-color:#f9f9f9;
	border: 3px solid #7F7F7F;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom:20px;
	padding:10px 0 10px 0;
}

.ideaDataTables{
	padding:20px 0 20px 0;
}

.subscribe {
	overflow: auto;
	position:absolute;
	top:10px;
	right:10px;
	padding:10px;
	background-color:#5cb85c;
	color:white;
	border:3px solid #62C3B5;
}

.subscribe:hover {
	border:3px solid #5cb85c;
	background-color:#4cae4c;
}

.history {
	text-align: center;
	background-color: #5cb85c;
	padding:20px;
	margin:10px;
	border-radius:10px;
	font-size:24pt;
	cursor:pointer;
	color:#ffffff;
	border-radius: 10px;
	border: 3px solid #4cae4c;
	font-size:20pt;
}

.history:hover {
	background-color: #449d44;	
	border: 3px solid #398439;
	color:#ffffff;
}

.footer {
	overflow:auto;
	bottom:0;
	display:inline-block;
	position: relative;
	width:100%;
	background-color:#252525
}
.footer-info h1 {
	color:#777;	
}
.footer-info {
	color:#ccc;	
}

.footer-info ul{
	list-style-type: none;
}

.footer-copyright {
	color:#777;
	background-color:#1c1c1c;
}

.photo, .name{
	text-align: center;
}
.team {
	background-color: #9BB2AA;
	width:100vw;
	height:100vh;
}
.name {
	padding:20px 20px 20px 20px;
	background-color: #FF7F62;
	color:white; 
	width:300px;
	margin:0 auto;
}

.photo img {
	width:300px;
	height:300px;
}

.person {
	margin-bottom:50px;
}


