<template name="history">

<div class="page-wrap">
	<div class = "text-center header">
		<h1><div style = "display:inline-block;color:#C33D34;">All</div> of the Worst Ideas</h1> 
	</div>
  	<div class = "body">
		<div class="container">
			<div class="row text-center">
				<div class="ideaInput today-list col-xs-12">

					{{> ideaList type="all"}}
				</div>
			</div>
		</div>
	</div>
   {{> footer}}
</div>

<script type = "text/javascript">
		$(document).ready(function() {
		    $('#all').DataTable({

        "iDisplayLength": 50
		    });
		} );
</script>

</template>
