<template name="team">
	<div class = "team">
		<div class="container">
				<div class = "row">
					<div class = "col-xs-12 text-center">
						<h1>Our Team</h1>
					</div>
				</div>
				<div class = "row">
					<div class = "col-xs-12 col-lg-6 person">
						<div class = "photo">
							<img src = "img/justin.jpg" />
						</div>
						<div class = "name">
							Justin Rahardjo
						</div>
					</div>
					<div class = "col-xs-12 col-lg-6 person">
						<div class = "photo">
							<img src = "img/jared_new.jpg" />
						</div>
						<div class = "name">
							Jared Page
						</div>
					</div>
					<div class = "col-xs-12 col-lg-6 person">
						<div class = "photo">
							<img src = "img/kelsey.jpg" />
						</div>
						<div class = "name">
							Kelsey Lee-Stay
						</div>
					</div>
					<div class = "col-xs-12 col-lg-6 person">
						<div class = "photo">
							<img src = "img/lizzie.jpg" />
						</div>
						<div class = "name">
							Lizzie King
						</div>
					</div>
				</div>
		</div>
	</div>	
</template>